<div class="row">
  <div id="video" class="center">
    Video
  </div>
</div>

<div class="row homeRow">
  <div id="r1" class="span6">
    <%= image_tag("normalView.png", alt: "Normal View") %>
  </div>
  <div class="content span6">
    <p>Save My Glass is a heads-up display (HUD) for driving using Google Glass</p>
  </div>
</div>

<div id="r2" class="row homeRow">
  <div class="content span6">
    <p>
      What takes it to the next level however, is our focus on <u>safety</u>.
      By looking at your eyes and sensing the tilt of your head, the app quickly responds to nodding off
      and alerts the wearer by flashing red and sounding an alarm in the wearer's ear.
    </p>
  </div>
  <div class="span6">
    <%= image_tag("alertView.png", alt: "Alert View") %>
  </div>
</div>

<div id="r3" class="row homeRow">
  <div class="span6">
    <%= image_tag("emergencyView.png", alt: "Alert View") %>
  </div>
  <div class="content span6">
    <p>
      If Glass detects G-forces similar to that of a car accident, 
      the app will start recording video right away and makes a call
      to emergency services in the case that you are unable to do so 
      yourself on your own devices.
    </p>
  </div>
</div>