<div id="q1" class="span6 homeRow">
<%= image_tag("normalView.png", alt: "Normal View") %>
<p>Save My Glass is a heads-up display (HUD) for driving using Google Glass</p>
</div>

<div id="q2" class="span6 homeRow">
<%= image_tag("alertView.png", alt: "Alert View") %>
<p>
What takes it to the next level however, is our focus on <u>safety</u>.<br/>
By looking at your eyes and sensing the tilt of your head, the app quickly responds to nodding off<br/>
and alerts the wearer by flashing red and sounding an alarm in the wearer's ear.<br/>
</p>
</div>