<h2>Here's how it works:</h2>

<div class="row">
<div class="span6">
  <p>
    Google Glass is equipped with a proximity sensor that is aimed at
    the wearer's eye. In the past this has been used to detect winks 
    to control different actions. We hacked the sensor to live feed us 
    distance data. From this we can tell when and how long the user's eyes 
    have been closed.
  </p>
</div>
<div class="span6">
  <p>
    Glass is also able to measure the tilt of the wearer's head, so 
    we use this data to determine if the user is looking at the road or not.
  </p>
</div>