/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}
#container {
   min-height: 100%;
   position: relative;
   background: #828282;
}
header {
   background: white;
   padding: 20px;
   width: 100%;
}
#headerContainer {
   margin: 0 auto;
   width: 960px;
}
.headerLinks {
   list-style-type: none;
}
.headerLinks li {
   display: inline;
   margin-right: 10px;
}
#body {
   margin: 20px auto;
   width: 90%;
   padding: 10px;
   padding-bottom: 60px;   /* Height of the footer */
   background: white;
   border-radius: 20px;
   border: 1px solid #535353;
}
footer {
   padding: 20px;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px;   /* Height of the footer */
   background: white;
}

.homeRow {
   width: 960px;
   margin: 20px auto !important;
}

.homeRow p, img {
   float: left;
}

.homeRow p {
   max-width: 430px;
   margin-right: 20px;
   vertical-align: middle;
}
.content {
   float: left;
}
.center {
   margin: 0 auto;
}
#video {
   width: 960px;
   height: 400px;
   background: orange;
}